@media (max-width: 1210px) {

    .main {
        background-image: url(../images/img/mainBg2.png);
        background-size: cover;
        background-position: center;
        background-position-y: 36px;
        background-repeat: no-repeat;
        height: 78vh;
    }

    .mainBlock{
        margin-top: 25vh;
        max-width: 354px;
    }

    .mainButton {
        max-width: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

}

@media (max-width: 1090px) {
    .faq-line {
        display: block;
    }

    .faq-request {
        padding: 36px 70px 36px 20px;
    }
    .content-about {
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .left-about {
        max-width: 100%;
    }

    .right-about{
        max-width: 100%;
    }

    .about-image1{
        display: none;
    }

    .about-image2{
        display: block;
        width: 100%;
    }
}

@media (max-width: 990px) {

    .contact{
        background-image: url(../images/img/contactBg2.png);
        height: 90vh;
    }

    .content-app {
        flex-direction: column-reverse;
    }

    .right-app {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .block-app:first-child {
        margin-right: 80px;
    }

    .left-app {
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
        padding: 30px 20px 40px;
    }

    .phone-title {
        text-align: start;
    }

    .phone-text {
        text-align: start;
    }

    .phone-links {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .phone-link {
        margin-right: 20px;
    }

    .phone-image {
        margin-right: 50px;
    }

    .phone-block-text{
        width: 75%;
    }

    .partners-line {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .partners-logos {
        margin-bottom: 30px;
    }

    .certificate {
        max-width: 70%;
        height: 100%;
    }

}

@media (max-width: 830px) {

    .main {
        background-image: url(../images/img/mainBg2.png);
        background-size: cover;
        background-position: center;
        background-position-y: 21px;
        background-repeat: no-repeat;
        height: 65vh;
    }

    .mainBlock {
        margin-top: 22vh;
    }

    .mainBlock{
        max-width: 254px;
    }

    .mainTitle{
        font-size: 30px;
        line-height: 45px;
    }

    .mainDescription{
        font-size: 13px;
    }

    .mainButton {
        font-size: 14px;
        padding: 18px 42px;
    }

    .footer-nav{
        display: block;
        margin-bottom: 20px;
    }

    .footer-social{
        display: block;
    }

    .footer-phone, .footer-mail{
        justify-content: center;
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .footer-logo {
        max-width: 70px;
        display: block;
        margin: 0 auto 20px;
    }

    .powered{
        text-align: center;
    }

}

@media (max-width: 716px) {

    .header-links, .header-phone {
        display: none;
    }

    .overlay {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 12;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s;
        text-align: center;
    }

    .right-menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 70%;
        border-radius: 50px 0 0 50px;
        height: 100%;
        background-color: #1A1C19;
        z-index: 13;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s;
        text-align: center;
        padding: 0 50px;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
        color: white;
    }

    .header-close-text{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 0;
    }

    .close-menu {
        opacity: 0;
        position: fixed;
        right: 12%;
        top: 3.5%;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transform: translateX(300%);
        transition: transform 0.2s;
        transition-delay: 0.4s;
    }

    .list-right-links{
        padding: 0;
        text-align: start;
        margin-bottom: 40px;
    }

    .list-right-link{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 50px;
        color: #FFFFFF;
        padding: 0;
        text-align: start;
    }

    .header-phone-right-text, .header-mail-right-text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .is-active {
        transform: translateX(0%);
        opacity: 1;
    }

    .contact-form {
        padding: 60px 30px;
        top: 95px;
    }

    .contactTitle {
        font-size: 30px;
    }

    .group input {
        width: 300px;
    }
}

@media (max-width: 655px) {
    .faq-title, .about-title, .partners-title {
        font-size: 30px;
    }

    .right-app {
        max-width: 100%;
        display: block;
        margin-bottom: 40px;
    }

    .left-app {
        display: block;
        align-items: center;
        width: 100%;
        height: 600px;
        padding: 30px 20px 40px;
    }

    .phone-image {
        margin: auto;
    }

    .phone-title {
        text-align: center;
    }

    .phone-text {
        text-align: center;
    }

    .phone-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .phone-link {
        margin-right: 20px;
    }


    .phone-block-text{
        width: 100%;
    }
}

@media (max-width: 560px) {

    .main {
        background-image: url(../images/img/mainBg3.png);
        background-size: cover;
        background-position: center;
        background-position-y: 2px;
        height: 77vh;
        background-repeat: no-repeat;
    }

    .mainBlock{
        text-align: center;
        max-width: 354px;
        margin-top: 23vh;
    }

    .mainTitle{
        font-size: 30px;
        line-height: 45px;
    }

    .mainDescription{
        font-size: 14px;
        color: white;
    }

    .mainButton {
        font-size: 14px;
        padding: 18px 42px;
    }

    .certificate {
        max-width: 100%;
        margin-right: 0;
    }

    .left-app {
        display: block;
        align-items: center;
        width: 100%;
        height: 650px;
        padding: 30px 20px 40px;
    }

    .about-image2{
        display: none;
    }

    .about-image3{
        display: block;
        width: 100%;
    }

    .contact{
        background-image: url(../images/img/contactBg3.png);
        height: 85vh;
    }
}

@media (max-width: 445px) {

    .main {
        background-image: url(../images/img/mainBg3.png);
        background-size: cover;
        background-position: center;
        background-position-y: 2px;
        height: 69vh;
        background-repeat: no-repeat;
    }

    label {
        font-size: 14px;
    }

    .group input {
        width: 250px;
        font-size: 13px;
    }

    .contactButton {
        font-size: 13px;
        padding: 13px 38px;
        width: 100%;
    }
}

@media (max-width: 378px) {

    .left-app {
        display: block;
        align-items: center;
        width: 100%;
        height: 720px;
        padding: 30px 20px 40px;
    }

    .phone-title {
        font-size: 18px;
    }

    .phone-text {
        font-size: 14px;
    }

    .phone-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phone-link {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .faq-request {
        padding: 36px 16px 36px 20px;
    }

    .request-title {
        font-size: 16px;
    }

    .request-text {
        font-size: 13px;
    }

    .requestButton {
        font-size: 13px;
        padding: 13px 15px;
    }

    .slide {
        height: 232px;
    }

    label {
        font-size: 12px;
    }

    .group input {
        width: 200px;
        font-size: 12px;
    }

    .contactButton {
        font-size: 12px;
        padding: 13px 38px;
        width: 100%;
    }

    .contact-form {
        right: 6%;
    }
}
