body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-right: 35px;
    padding-left: 50px;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*--------------HEADER--------------*/

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.logo {
    max-width: 70px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px;
}

.list-links {
    display: flex;
}

.list-item {
    margin-right: 25px;
}

.list-link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #1A1C19;
}

.header-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-phone-icon, .header-menu-icon {
    margin-right: 15px;
}

.header-phone-text, .header-menu-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1A1C19;
    margin-bottom: 0;
}

.burger-menu, .right-menu, .overlay {
    display: none;
}


/*--------------MAIN----------------*/

.main {
    background-image: url(../images/img/mainBg.png);
    background-size: cover;
    background-position: center;
    background-position-y: 86px;
    height: 100vh;
    background-repeat: no-repeat;
}

.mainBlock {
    margin-top: 25vh;
}

.mainTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    max-width: 496px;
    color: #1A1C19;
}

.mainDescription{
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 300px;
    color: #808080;
    margin-bottom: 50px;
    margin-top: 20px;
}

.mainButton {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 5px;
    padding: 18px 42px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    max-width: 185px;
}

/*-----------APP-----------------*/

.app{
    margin-top: 100px;
}

.content-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-app{
    width: 488px;
    height: 700px;
    background: #FDFDFD;
    border-radius: 6px;
    padding: 60px 70px 70px;
}

.phone-image{
    display: block;
    margin: 0 auto 25px;
}

.phone-title{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #1A1C19;
    margin-bottom: 15px;
}

.phone-text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #808080;
    margin-bottom: 30px;
}

.phone-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phone-link{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FE0001;
}

.right-app{
    max-width: 360px;
}

.block-app:first-child{
    margin-bottom: 70px;
}

.block-icon{
    margin-bottom: 30px;
}

.block-title{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 23px;
    color: #1A1C19;
}

.block-text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #808080;
}

/*------------------ABOUT--------------------*/

.about{
    margin-top: 100px;
}

.content-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-about{
    max-width: 490px;
}

.about-title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #1A1C19;
    margin-bottom: 20px;
}

.about-text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #808080;
    margin-bottom: 40px;
}

.about-line{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.check{
    margin-right: 20px;
}

.about-check-text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #1A1C19;
}


/*------------------FOOTER-------------------*/


.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-logo{
    max-width: 70px;
}

.footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-phone, .footer-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-phone{
    margin-right: 70px;
}

.footer-phone-icon, .footer-mail-icon {
    margin-right: 15px;
}

.footer-phone-text, .footer-mail-text{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1A1C19;
}

.powered {
    margin: 0;
    color: #1A1C19;
}

.altek {
    margin-left: 10px;
}

.rights{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #9F9F9F;
}
